*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: "Roboto", serif;
}

section {
    padding: 60px 0px;
}

.container {
    width: 90%;
    margin: auto;
}

.row {
    display: flex;
    gap: 3%;
    padding: 50px 0px;
}

.row1{
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
}

.col{
    width: 50%;
}

h4{
    color: rgb(93, 93, 226);
    padding: 10px 0px;
}

h1{
    font-size: 50px;
    padding: 10px 0px;
}

p{
    color: gray;
    padding: 10px 0px;
    line-height: 1.6;
}

.btn{
	display:flex;
}

.button{
	padding:10px 15px;
	border:1px solid blue;
	background-color:white;
	color:blue;
	border-radius:0px 5px 5px 0px;
}

.fa-phone{
	display:flex;
	justify-content:center;
	align-items:center;
	height:38px;
	width:38px;
	border-radius:5px 0px 0px 5px;
	color:white;
	background-color:blue;
}





h3{
    font-size: 25px;
}

.col-2{
    display: flex;
    gap:2%;
    margin: 10px 0px;
    width: 100%;
}

.col-2 div{
    width: 50%;
}

.col-1{
    width: 100%;
}

input,select,.col-1 button,textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.col-1 button{
    background-color: #4c4cc9;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 10px 0px;
}


